/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    width: 870PX;
    /* height: 679PX; */
    padding: 30px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


/* top-players */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;

}

.players img {
    width: 56px;
    height: 56px;
}

.player-name {
    padding-left: 16px;
    font-size: 18px;
}

/* -------------
top blogs styles 
--------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog .thumlen img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;

}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}